@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    @apply font-times;
  }
}

body {
  @apply font-times text-brand-blue bg-no-repeat bg-cover bg-fixed min-h-screen;

}

.bg-crumpled-paper {
  background-image: url('../public/images/background.png');
}

.bg-crumpled-paper-sticker {
  background-image: url('../public/images/background-sticker.png');
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat
}

.bg-crumpled-paper-sticker-tablet {
  background-image: url('../public/images/background-sticker-tablet.png');
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat
}

.content-wrapper {
  @apply mx-auto w-full max-w-screen-sm;
}

/* Animations */
@layer utilities {
  @keyframes shake {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(1deg);
    }
    75% {
      transform: rotate(-2deg);
    }
  }

  .animate-shake {
    animation: shake 1.5s ease-in-out infinite;
  }

  /* Add ability to add animation delays via classes if needed */
  .animation-delay-300ms {
    animation-delay: 0.3s;
  }
  .animation-delay-500ms {
    animation-delay: 0.5s;
  }
  .animation-delay-700ms {
    animation-delay: 0.7s;
  }
}
